html, body {margin:0; padding:0; height:100%;}
body {font-family:'Nanum Gothic'; font-size: 14px;}



/*!* === GRID 내부 여백 최소화 === *!*/
/*.n-grid {*/
/*    row-gap: 0 !important;      !* 세로 간격 완전 제거 *!*/
/*    column-gap: 5px !important; !* 가로 간격만 약간 유지 *!*/
/*}*/

/*!* === FORM ITEM 여백 제거 === *!*/
/*.n-form-item,*/
/*.n-form-item-gi {*/
/*    margin: 0 !important;*/
/*    padding: 0 !important;*/
/*}*/

/*!* === INPUT 자체 마진 제거 === *!*/
/*.n-input {*/
/*    margin: 0 !important;*/
/*    padding: 0 !important;*/
/*}*/

/*!* === INPUT 내부 wrapper 여백 제거 === *!*/
/*.n-input-wrapper {*/
/*    padding: 0 !important;*/
/*    margin: 0 !important;*/
/*    min-height: unset !important;*/
/*}*/

/*!* === 실제 input element 여백 제거 === *!*/
/*.n-input__input-el {*/
/*    padding-top: 0 !important;*/
/*    padding-bottom: 0 !important;*/
/*    line-height: 1.4 !important;*/
/*    height: 22px !important; !* 원하는 높이로 조정 가능 *!*/
/*}*/

/*!* === 라벨과의 간격 최소화 === *!*/
/*.n-form-item-label {*/
/*    margin-bottom: 0 !important;*/
/*    padding-bottom: 0 !important;*/
/*}*/
/*.n-form-item-gi {*/
/*    margin: 0px !important;*/
/*    padding: 0px !important;*/

/*}*/
/*.n-form-item-gi {*/
/*    margin-bottom: 0 !important;*/
/*    padding-bottom: 0 !important;*/
/*}*/

/*.n-form-item {*/
/*    margin-bottom: 0 !important;*/
/*    padding-bottom: 0 !important;*/
/*}*/

/*.n-grid-item {*/
/*    padding-bottom: 0 !important;*/
/*}*/
/*.n-form-item {*/
/*    margin-bottom: 0 !important;*/
/*    padding-bottom: 0 !important;*/
/*}*/
/*.n-form-item-gi {*/
/*    margin-bottom: 0 !important;*/
/*    padding-bottom: 0 !important;*/
/*}*/
/*.n-grid-item {*/
/*    padding-bottom: 0 !important;*/
/*}*/
/*.n-form-item .n-form-item--small-size .n-form-item--left-labelled {*/
/*    margin-bottom: 0 !important;*/
/*    padding-bottom: 0 !important;*/
/*}*/
/*.n-form-item-feedback-wrapper {*/
/*    min-height: 0 !important;*/
/*    margin-top: 0 !important;*/
/*    padding: 0 !important;*/
/*}*/
.nbs-card {
    padding: 0px 15px 8px 0px;
}
.nbs-card .n-card__header {
    padding: 6px 6px;
    font-size: 14px;
}
.nbs-card .n-card__content {
    padding: 2px 2px;
}

.nbs-form-search .n-form-item-feedback-wrapper {
    min-height: 0;
    margin: 0;
    padding: 0;
}
.nbs-form-search .n-form-item-label {
    font-size: 12px;
    color: #333;
}

/*.nbs-tree {*/
/*    --n-node-indent: 10px;*/
/*    --n-node-content-height: 24px; !* 각 노드 높이도 살짝 줄이기 *!*/
/*    font-size: 14px;*/
/*    padding-left: 0px !important; !* 루트는 완전 왼쪽 정렬 *!*/
/*}*/